<% if @pharmacy.errors.any? %>

  <h4>The following errors prevented the article from getting created</h4>

<ul>

    <% @pharmacy.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

    <% end %>
</ul>


<% end %>



<div class = "control-group">
<legend >Registration</legend>
<%= form_for @pharmacy  ,class: "form-horizontal" do |f| %>
<%= f.label :npi %>
  <%= f.text_field :npi %><br>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :phonenumber %>
  <%= f.telephone_field :phonenumber %><br>
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %><br>
  <%= f.label :state %>
  <%= f.text_field :state %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit %>

<%end%>

</div>